@use '../globals/colors' as c;
@use '../globals/breakpoints' as bp;

        /*=====Mobile Navigation=====*/
.mobile-nav {
    display: none;

    @include bp.md {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-top: 5rem;
        align-items: center;
        position: fixed;
        transform: translateX(200%);
        width: 53%;
        height: 100%;
        background: c.$navigation;
        backdrop-filter: blur(6px);
        border: 1px solid rgba(45, 48, 47, 0.4);
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        z-index: 9998;
        transition: all 300ms ease-in-out;
        opacity: 0;
        filter: blur(5px);
        
      &.active {
        opacity: 1;
        transform: translateX(90%);
        filter: blur(0);
      }
      &__list {
        margin: 0 auto;
        margin-bottom: 1rem;
        list-style: none;
        text-align: center;
      }
      &__item {
        width: 100%;
        padding: 2rem 0;
      }

      &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: c.$text;
      }

      &__link:hover {
        color: c.$secondary;
        transition: color 0.5s;
      }
    }
}

