
// Main
// $text: #f6f6f6;
// $background: #151817;
// $primary: #f6f6f6;
// $secondary: #89928f;
// $accent: #5ba97d;

// //  Pallete 1
// $text: rgb(222, 230, 237);
// $background: rgb(7, 10, 13);
// $primary: rgb(94, 96, 166);
// $secondary: rgb(137, 146, 143);
// $accent: rgb(118, 85, 155);
// $navigation: rgb(7, 10, 13,0.85);
// // Pallete 2
$text: rgb(228, 228, 236);
$background: rgb(10, 10, 15);
$primary: rgb(182, 182, 205);
$secondary: rgb(10, 10, 15);
$accent: rgb(92, 92, 138);
$navigation: rgb(10, 10, 15, 0.85);
// // Pallete 3
// $text: rgb(232, 235, 247);
// $background: rgb(11, 14, 30);
// $primary: rgb(58, 76, 166);
// $secondary: rgb(19, 24, 53);
// $accent: rgb(81, 100, 194);
// Pallete 4
// $text: rgb(236, 249, 247);
// $background: rgb(0, 0, 0);
// $primary: rgb(61, 189, 172);
// $secondary: rgb(19, 58, 53);
// $accent: rgb(82, 199, 183);

// $text: rgb(237, 241, 253);
// $background: rgb(1, 3, 9);
// $primary: rgb(22, 62, 162);
// $secondary: rgb(3, 9, 22);
// $accent: rgb(28, 77, 202);